[Unit]
Description=Kwangwoon University Todo Bot Daemon
After=network.target

[Service]
User=vadim
Group=www-data
WorkingDirectory=/home/vadim/klas_notification_bot
Environment="PATH=/home/vadim/klas_notification_bot/.venv/bin"
ExecStart=/bin/bash -c 'source /home/vadim/klas_notification_bot/.venv/bin/activate && python3 main.py'

[Install]
WantedBy=multi-user.target